html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  color: white;
  background-color: black;
  padding: 10px;
}

header a {
  color: white;
}

nav {
  float: right
}

nav a:hover {
  color: #ff0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  padding-right: 10px;
}

.brand {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 3em;
}

.brand a:hover {
  text-decoration: underline;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.marketing {
  padding: 10px;
  background-color: #555;
  color: white;
  margin: 1em 0;
}

.features > div {
  width: 30%;
  display: inline-block;
  padding: 0 10px 0 10px;
  vertical-align: top;
  /*padding: 20px;*/
}

.features > div:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

footer {
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: black;
  color: white;
}

yellow hovers on links;
underline hover on header


